div(ng-controller="demoCtrl")
h1
  Using d3 service to create simple objects inside AngularJS framework.
p
  |Inside AngularJS framework, everything is a module or is inside a module. A module can contain constant values,
  | services, factory methods.
  |In this example, in the backend we have created a d3 service. And we are using it to create a simple visualization
div#viz
