p.navbar-text.pull-right
    a.btn.icon.rss(href='html/feed.rss')
        i.icon-bullhorn
        | RSS
    ul.nav
      //
         <li class="active"><a href="#">Home</a></li>  
      li.dropdown
        a#drop5.dropdown-toggle(role='button', data-toggle='dropdown', href='html/SOCR_About.html', rel='tooltip', title='Learn about the SOCR Resource')
          | About
          b.caret
        ul#menu3.dropdown-menu(role='menu', aria-labelledby='drop5')
          li
            a(tabindex='-1', href='html/SOCR_About.html') About SOCR
          li
            a(tabindex='-1', href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_News') News and Events
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_Team.html') SOCR Team
          li
            a(tabindex='-1', href='http://www.socr.ucla.edu/SOCR_UserGoogleMap.html') Geo-Map
          li
            a(tabindex='-1', href='html/SOCR_Contact.html') Contact
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_Presentations.html') Presentations
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_References.html') Publications
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_Recognitions.html') Recognitions
          li
            a(tabindex='-1', href='http://www.socr.ucla.edu/docs/SOCR_Brochure_Integrated.pdf') Brochure
          li.divider
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_Funding.html') Funding
          li
            a(tabindex='-1', href='http://wiki.stat.ucla.edu/socr/index.php/Socr:Site_support') Donations
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_Acknowledgements.html') Acknowledgments
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_CitingLicense.html') Citing/Licences
          li.divider
          li
            a(tabindex='-1', href='http://wiki.stat.ucla.edu/socr') SOCR Wiki
          li
            a(tabindex='-1', href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_Servers') SOCR Servers
          li
            a(tabindex='-1', href='http://www.socr.ucla.edu/docs/SOCR_Documentation.html') Documentation
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_Download.html') Download
          li
            a(tabindex='-1', href='http://www.socr.ucla.edu/htmls/SOCR_Languages.html') Language Translation
          li.divider
          li
            a(tabindex='-1', href='http://socr.ucla.edu/SOCR_HW_Viewer.html', rel='tooltip', title='Hyperbolic Tree Viewer') SOCR HT Navigator
          li
            a(tabindex='-1', href='http://socr.ucla.edu/SOCR_HW_Viewer.html', rel='tooltip', title='Hyperbolic Wheel Viewer') SOCR HW Navigator
          li
            a(tabindex='-1', href='http://socr.ucla.edu/Carousel', rel='tooltip', title='Carousel Resource Navigator') Carousel Viewer
      li
        a(href='html/SOCR_Contact.html', rel='tooltip', title='Contact the SOCR Resource') Contact
      li.dropdown
        a#drop5.dropdown-toggle(role='button', data-toggle='dropdown', href='#', rel='tooltip', title='Use these tools if your browser is Java/JVM 1.6+ enabled!')
          | Java Applets
          b.caret
        ul#menu3.dropdown-menu(role='menu', aria-labelledby='drop5')
          li
            a(tabindex='-1', href='#', rel='tooltip', title='Use these tools if your browser is Java/JVM 1.6+ enabled!') Java 1.6 Applets
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/dist/') Distributions
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/exp') Experiments
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_Modeler.html') Modeler
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_Analyses.html') Analyzes
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_Charts.html') Charts
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/SOCR_Games.html') Games
          li
            a(tabindex='-1', href='http://socr.ucla.edu/webstart/index.html') Web-Start
          li.divider
          li
            a(tabindex='-1', href='#', rel='tooltip', title='For older Java/JVM 1.5 enabled Browsers Use the links below!') Legacy Java 1.5 Applets
          li
            a(tabindex='-1', href='http://socr.ucla.edu/legacy/htmls/SOCR_Distributions.html') Distributions
          li
            a(tabindex='-1', href='http://socr.ucla.edu/legacy/htmls/SOCR_Experiments.html') Experiments
          li
            a(tabindex='-1', href='http://socr.ucla.edu/legacy/htmls/SOCR_Modeler.html') Modeler
          li
            a(tabindex='-1', href='http://socr.ucla.edu/legacy/htmls/SOCR_Analyses.html') Analyzes
          li
            a(tabindex='-1', href='http://socr.ucla.edu/legacy/htmls/SOCR_Charts.html') Charts
          li
            a(tabindex='-1', href='http://socr.ucla.edu/legacy/htmls/SOCR_Games.html') Games
          li
            a(tabindex='-1', href='http://socr.ucla.edu/webstart/index.html') Web-Start
      li.dropdown
        a#drop5.dropdown-toggle(role='button', data-toggle='dropdown', href='#', rel='tooltip', title='A collection of portable modern HTML5 Webapps')
          | Webapps
          b.caret
        ul#menu3.dropdown-menu(role='menu', aria-labelledby='drop5')
          li
            a(tabindex='-1', href='http://www.distributome.org/js/DistributomeNavigator.html') Distributome Navigator
          li
            a(tabindex='-1', href='http://www.distributome.org/tools.html') Distributome Webapps
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/HTML5/BivariateNormal/') Bivariate Normal Distribution Calculator
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/HTML5/charts/SOCR_JS_ViolinChart/') Violin Chart
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/HTML5/SOCR_Resampling_Webapp/') Randomization and Resampling Webapp
          li
            a(tabindex='-1', href='http://socr.ucla.edu/Applets.dir/OnlineResources.html#Tables') Probability Tables
          li
            a(tabindex='-1', href='http://socr.ucla.edu/htmls/HTML5/') Other SOCR HTML5 Webapps
      li.dropdown
        a#drop5.dropdown-toggle(role='button', data-toggle='dropdown', href='#', rel='tooltip', title='Additional SOCR Resources')
          | More
          b.caret
        ul#menu3.dropdown-menu(role='menu', aria-labelledby='drop5')
          li
            a(tabindex='-1', href='http://socr.ucla.edu/Applets.dir/OnlineResources.html#High-Precision_Distribution_Calculators') High-Precision Calculators
          li
            a(tabindex='-1', href='http://socr.ucla.edu/Applets.dir/OnlineResources.html#Tables') Probability Tables
          li
            a(tabindex='-1', href='http://socr.ucla.edu/Applets.dir/OnlineResources.html#Function_and_Image-Processing_Tools') Function and Image-Processing Applets
          li
            a(tabindex='-1', href='http://socr.ucla.edu/Applets.dir/OnlineResources.html#Other_Interesting_Java_Applets') Other Java Applets
      li
        a(href="#/projects")
          span.label.label-important Projects
      

