.hero-unit
    h1 SOCR Test Projects
    p
      | This seed project is to help you get to speed on how development process goes on at SOCR. By
      | working on these projects, you will gets a hands on experience of
      a(href="http://coffeescript.org/") <code>coffeescript</code>,
      a(href="http://brunch.io") <code>brunch.io</code> ,
      a(href="http://www.html5rocks.com/en/") <code>HTML5</code>,
      a(href="http://angularjs.org") <code>AngularJS</code>,
      a(href="https://github.com/") <code>GitHub</code>,
      a(href="https://d3js.org") <code>D3</code>.

    p
      | Feel free to choose one of the experiments from the list given below and start working on it. Please keep
      | updating your progress to github. If you are new to github, please refer
      a(href="http://git-scm.com/book/en/")&nbsp; book &nbsp;
      | for more info.
      | Git probably the best versioning tool ever created!

.hero-unit
    h1 How do I get Started?
    p
      |You have already completed your first task i.e. pulling the git repository. Now you have all the tools, packages,
      |technologies that you will be needing for developing the test projects.
      |Firstly, you need to read the brunch.io documentation once. We are using brunch.io to expedite the
      |development process.
    p
      |If you are not familiar with any language or technology, please refer their documentations or online examples.
      strong Or &nbsp;
      |send us an email at
      strong &nbsp; selvam1991 at gmail dot com


.row-fluid
    .span6
      h2 JSON HTML5 Grid
      p
        span.label.label-important Goal:
        | Build an interactive HTML5 grid from JSON/csv/xls formatted data.
      p
        span.label.label-info Tools/languages :
        | AngularJS,ngGrid,Twitter Bootstrap
      p
        button.btn-medium.btn(type="button",data-toggle="modal",data-target="#project1") More Details


    .span6
      h2 AngularJS Service for table parsing
      p
        span.label.label-important Goal:
        | To build an angular service which converts tables in an URL to JSON files
      p
        span.label.label-info Tools/languages :
        | AngularJS,Twitter Bootstrap
      p
        button.btn-medium.btn(type="button",data-toggle="modal",data-target="#project2") More Details

  //
    /row
  .row-fluid
    .span6
      h2 AngularJS Service for table parsing
      p
        span.label.label-important Goal:
        | Propose and implement a new infrastructure modernizing current SOCR Wiki resources.
        |The new architecture should consume the meta-data from the current SOCR MediaWiki DB and
        | the interface should be mobile ready. There are existing scripts to convert markdown MediaWiki
        | syntax to HTML. Use these scripts and bootstrap to modernize the SOCR Wiki interface.
        |The new frameworks should also allow easy editing (with limited access only to trusted SOCR personnel).
      p
        span.label.label-info Tools/languages :
        | AngularJS,Twitter Bootstrap
      p
        button.btn-medium.btn(type="button",data-toggle="modal",data-target="#project3") More Details

    .span6
      h2  Example of converting a SOCR Simulation to AngularJS/New SOCR Interface
      p
        span.label.label-important Goal:
        | Wrap up the Beta-Binomial Distribution Simulation into angularJS framework.
        | Create angular Js modules for nvd3,js first and use it to plot the graphs.

      p
        span.label.label-info Tools/languages :
        | AngularJS,Twitter Bootstrap,nvd3, Distributome
      p
        button.btn-medium.btn(type="button",data-toggle="modal",data-target="#project4") More Details

  //
    /row
  .row-fluid
    div#project1.modal.hide.fade
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 JSON HTML5 Grid
          .modal-body
            p One fine body…
          .modal-footer
    div#project2.modal.hide.fade
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 JSON HTML5 Grid
          .modal-body
            p One fine body…
          .modal-footer
    div#project3.modal.hide.fade
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 JSON HTML5 Grid
          .modal-body
            p One fine body…
          .modal-footer
    div#project4.modal.hide.fade
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 Converting a SOCR Simulation to AngularJS/New SOCR Interface
          .modal-body
            p
              | Currently there are many tools, simulations , experiments in the &nbsp;
              a(href="http://www.distributome.org/") Distributome project
              | &nbsp; of SOCR. All of
              | them are built using plain javascript.
              | As you can you see, all these applications need Statistical distributions and calculators
              | in the backend. Almost all the distributions that we use are present here in this &nbsp;
              a(href="http://www.distributome.org/js/exp/core.js") file.
              | &nbsp; Please go through it. This file contains Statistical Distributions, Distribution graphs,
              | Objects (coin, die, card etc) .

            p
              | Now coming to beta binomial distribution. There is a &nbsp;
              a(href="http://www.distributome.org/V3/exp/BetaBinomialExperiment.html") specific experiment
              | &nbsp; explaining this distribution.
              | If you check the source code for this experiment, you will find the js which contains the distribution.
              | This file contains only distribution, since it needs only one. Including the core.js would just latency
              | to the application.
            p
              AngularJS is a interesting framework. I highly recommend you to see the documentation before you start.


            p
              |The objective of the project is to implement this same application using AngularJS. Use the AngularJS
              | controllers, services ,directives etc to make the application.

            P
              strong Please feel free to contact us for help!

          .modal-footer


//
