.well.sidebar-nav
                ul.nav.nav-list
                  li.nav-header Get Started
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_Videos') Videos
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_Help_Pages') Help Pages
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_EduMaterials') Activities
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_Courses') Courses
                  li.nav-header Webapps and Resources
                  li
                    a(href='http://socr.ucla.edu/Applets.dir/OnlineResources.html#Tables', title='Probaiblity Distribution Tables') Tables
                  li
                    a(href='http://socr.ucla.edu/htmls/HTML5/', title='Modern browser embedded web-applications') New Webapps
                  li
                    a(href='http://socr.ucla.edu/Applets.dir/OnlineResources.html#High-Precision_Distribution_Calculators', title='High-Precision Distribution Calculators') Precision Calculators
                  li.nav-header Java Applets
                  li
                    a(href='http://socr.ucla.edu/htmls/dist/', title='Probability Distribution Calculators') Distributions
                  li
                    a(href='http://socr.ucla.edu/htmls/exp', title='Virtual Computer Experiments and Simulations') Experiments
                  li
                    a(href='http://socr.ucla.edu/htmls/ana/') Analyses
                  li
                    a(href='http://socr.ucla.edu/htmls/SOCR_Modeler.html') Data Modeler
                  li
                    a(href='http://socr.ucla.edu/htmls/SOCR_Charts.html') Charts and Graphs
                  li
                    a(href='http://socr.ucla.edu/htmls/SOCR_Games.html') Games
                  li.nav-header Learning Materials
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/EBook') EBook
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_Data') Datasets
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_EduMaterials', title='Learning Modules and Hands-on Activities') Activities
                  li.nav-header Contribute to SOCR
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/Socr:Site_support', title='Consider making donations of any size to support SOCR student stipends and instructors training') Donations
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/Available_SOCR_Development_Projects')
                      | SOCR Projects
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_News') Events
                  li
                    a(href='http://forums.stat.ucla.edu/socr') Forum
                  li
                    a(href='http://www.socr.ucla.edu/htmls/SOCR_Feedback.html') Survey
              .span10
                a(href='img/SOCR_QRcode.png')
                  img(title='SOCR QR Code', src='img/SOCR_QRcode.png', alt='SOCR QR Code', style='width: 100px; height: 100px;', align='left', hspace='1', vspace='5')
