.hero-unit
    h1 SOCR
    p
      | The Statistics Online Computational Resource designs, validates and freely disseminates knowledge,
      | scientific discoveries and learning materials. Specifically, SOCR
      | provides portable online aids for probability and statistics education,
      | technology based instruction and statistical computing.
    table(style='width: 100%; text-align: left;', border='0', cellpadding='2', cellspacing='2')
      tbody
        tr
          td(style='vertical-align: top;')
            a.btn.btn-primary.btn-large(target='_blank', href='html/SOCR_About.html')
              | Learn more »
          td(style='vertical-align: top; text-align: right;')
            i It's online, therefore it exists!
  //
    Carousel
#myCarousel.carousel.slide
    .carousel-inner
      .item.active
        img(src='img/SOCR_Analyses_Carousel.png', alt='SOCR Analyses')
        .carousel-caption
          h4
            a(href='http://socr.ucla.edu/htmls/SOCR_Analyses.html')
              | SOCR Statistical Analyses
          p Interactive web-based tools for Exploratory Data Analysis and data plotting.
      .item
        img(src='img/SOCR_DataModeler_Carousel.png', alt='SOCR Data Modeler')
        .carousel-caption
          h4
            a(href='http://socr.ucla.edu/htmls/SOCR_Modeler.html')
              | SOCR Data Modeler
          p Interactive SOCR tools for parametric data modeling.
      .item
        img(src='img/SOCR_EBook_Carousel.png', alt='SOCR EBook')
        .carousel-caption
          h4
            a(href='http://wiki.stat.ucla.edu/socr/index.php/EBook')
              | SOCR Electronic Wiki Book (EBook)
          p Internet-based, technology-enhanced probability and statistics EBook.
      .item
        img(src='img/SOCR_Experiments_Carousel.png', alt='SOCR Experiments')
        .carousel-caption
          h4
            a(href='http://socr.ucla.edu/htmls/exp')
              | SOCR Virtual Experiments
          p Interactive simulations of scientific concepts and natural phenomena.
      .item
        img(src='img/SOCR_Activities_Carousel.png', alt='SOCR Learning Activities')
        .carousel-caption
          h4
            a(href='hhttp://wiki.stat.ucla.edu/socr/index.php/SOCR_EduMaterials')
              | SOCR Learning Activities
          p Hands-on learning modules, data and instructional resources.
      .item
        img(src='img/SOCR_APStats_Carousel.png', alt='Advanced Placement Stats')
        .carousel-caption
          h4
            a(href='http://socr.ucla.edu/APStats/')
              | SOCR Advanced Placement Resources
          p AP Statistics materials.
      .item
        img(src='img/SOCR_Charts_Carousel.png', alt='SOCR Charts')
        .carousel-caption
          h4
            a(href='http://socr.ucla.edu/htmls/chart')
              | SOCR Charts
          p Tools for exploratory data analysis.
      .item
        img(src='img/SOCR_Data_Carousel.png', alt='SOCR Data')
        .carousel-caption
          h4
            a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_Data')
              | SOCR Data
          p A large collection of free and heterogeneous datasets.
      .item
        img(src='img/SOCR_Distributions_Carousel.png', alt='SOCR Distributions')
        .carousel-caption
          h4
            a(href='http://socr.ucla.edu/htmls/dist')
              | SOCR Distributions
          p Interactive probability distribution calculators.
      .item
        img(src='img/SOCR_HTViewer_Carousel.png', alt='SOCR HT Viewer')
        .carousel-caption
          h4
            a(href='http://socr.ucla.edu/SOCR_HT_ResourceViewer.html')
              | SOCR Hyperbolic Resource Navigator
          p Hyperbolic viewer for exploring the web of SOCR resources.
    a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
    a.right.carousel-control(href='#myCarousel', data-slide='next') ›
.row-fluid
    .span4
      h2 About SOCR
      p
        | Learn about SOCR, find details about the SOCR projects, team, publications,
        | licenses and organization,  and discover the broad spectrum of SOCR materials.
      p
        a.btn(href='html/SOCR_About.html') View details »
    .span4
      h2 Java Applets
      p
        | A collection of Java applets demonstrating probability, statistics,
        | mathematics and engineering concepts. These  include probability calculators,
        | statistics analysis tools, data modeling and visualization,
        | virtual games, simulations and experiments.
      p
        a.btn(href='http://socr.ucla.edu/htmls/dist/') View details »
    .span4
      h2 EBook
      p
        | An Internet-based probability and statistics EBook including materials, tools
        | and data-driven demonstrations. The EBook is community-built, open-access,
        | multilingual, and blends information technology, scientific techniques
        | and modern pedagogical concepts.
      p
        a.btn(href='http://wiki.stat.ucla.edu/socr/index.php/EBook') View details »
  //
    /row
.row-fluid
    .span4
      h2  Navigators
      p
        | Graphical, keyword and hyperbolic navigators for traversing, discovery and exploration
        | of the variety of SOCR resources.
      p
        a.btn(href='html/Navigators.html') View details »
    .span4
      h2 News
      p SOCR news, events, and announcements.
      p
        a.btn(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_News') View details »
    .span4
      h2 Webapps
      p A collection of portable modern Webapps.
      p
        a.btn(href='http://socr.ucla.edu/htmls/HTML5/') View details »
    //
/row
