!!! 5
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title(ng-bind-template='{{pageTitle}}')
    link(rel='stylesheet', href='/css/app.css')
    //-script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    //if lte IE 7
      script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
    //if lte IE 8
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    script
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {
        enabled: true
      };
    script(src='/js/vendor.js')
    script(src='/js/partials.js')
    script(src='/js/app.js')
  body(ng-controller='AppCtrl')
    .wrapper
      .navbar.navbar-static-top
        .navbar-inner
          .container
            button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/',title="Statistics Online Computational Resource").brand SOCR
            .nav-collapse
              div(ng-include="'/partials/nav.html'")
      .container.main-content
        .container-fluid
          .row-fluid
            .span3
              .well.sidebar-nav
                ul.nav.nav-list
                  li.nav-header Get Started
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_Videos') Videos
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_Help_Pages') Help Pages
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_EduMaterials') Activities
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_Courses') Courses
                  li.nav-header Webapps and Resources
                  li
                    a(href='http://socr.ucla.edu/Applets.dir/OnlineResources.html#Tables', title='Probaiblity Distribution Tables') Tables
                  li
                    a(href='http://socr.ucla.edu/htmls/HTML5/', title='Modern browser embedded web-applications') New Webapps
                  li
                    a(href='http://socr.ucla.edu/Applets.dir/OnlineResources.html#High-Precision_Distribution_Calculators', title='High-Precision Distribution Calculators') Precision Calculators
                  li.nav-header Java Applets
                  li
                    a(href='http://socr.ucla.edu/htmls/dist/', title='Probability Distribution Calculators') Distributions
                  li
                    a(href='http://socr.ucla.edu/htmls/exp', title='Virtual Computer Experiments and Simulations') Experiments
                  li
                    a(href='http://socr.ucla.edu/htmls/ana/') Analyses
                  li
                    a(href='http://socr.ucla.edu/htmls/SOCR_Modeler.html') Data Modeler
                  li
                    a(href='http://socr.ucla.edu/htmls/SOCR_Charts.html') Charts and Graphs
                  li
                    a(href='http://socr.ucla.edu/htmls/SOCR_Games.html') Games
                  li.nav-header Learning Materials
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/EBook') EBook
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_Data') Datasets
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_EduMaterials', title='Learning Modules and Hands-on Activities') Activities
                  li.nav-header Contribute to SOCR
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/Socr:Site_support', title='Consider making donations of any size to support SOCR student stipends and instructors training') Donations
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/Available_SOCR_Development_Projects')
                      | SOCR Projects
                  li
                    a(href='http://wiki.stat.ucla.edu/socr/index.php/SOCR_News') Events
                  li
                    a(href='http://forums.stat.ucla.edu/socr') Forum
                  li
                    a(href='http://www.socr.ucla.edu/htmls/SOCR_Feedback.html') Survey
              .span10
                a(href='img/SOCR_QRcode.png')
                  img(title='SOCR QR Code', src='img/SOCR_QRcode.png', alt='SOCR QR Code', style='width: 100px; height: 100px;', align='left', hspace='1', vspace='5')
              //
                /.well
            //
              /span
            .span9
               div(ng-view)
          //
            /row
          footer
            center
              a(href='http://www.socr.ucla.edu/') SOCR Resource
              | Visitor number
              img(src='http://counter.digits.com/wc/-d/4/SOCR', align='middle', border='0', height='20', hspace='4', vspace='2', width='60')
              script(type='text/javascript')
                var d=new Date();
                document.write(" | "+d.getFullYear()+" | ");
              a(href='img/SOCR_Email.png')
                img(alt='SOCR Email', title='SOCR Email', src='img/SOCR_Email.png', style='border: 0px solid;')
      .push

    footer.footer
      .container
        p
          small
            a(href='https://github.com/scotch/angular-brunch-seed') angular-brunch-seed | source
